@import "~@angular/material/theming";

@mixin sidenav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // .mat-sidenav {
  //   background-color: mat-color($accent, default);
  //   color: mat-color($accent, default-contrast);
  // }
}
