@import "~@angular/material/theming";

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-teal);
$warn: mat-palette($mat-red);

$app-theme: mat-light-theme($primary, $accent, $warn);

// themes for notifications
$app-info: mat-palette($mat-blue);
$app-success: mat-palette($mat-green);
$app-warning: mat-palette($mat-yellow);
$app-error: mat-palette($mat-red);
