mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}

.userCard {
  text-align: center;
}

.user-image {
  background-image: url("src/assets/photos/profile pictures/omri.jpg");
  background-size: cover;
}
