<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required />
        <mat-error
          *ngIf="
            !formControls['username'].valid && formControls['username'].touched
          "
        >
          {{ requiredFeildAlert }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="text"
          [type]="hidePassword ? 'password' : 'text'"
          required
        />
        <mat-error
          *ngIf="
            !formControls['password'].valid && formControls['password'].touched
          "
        >
          {{ requiredFeildAlert }}
        </mat-error>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid || loading"
    >
      Login
    </button>
    <button mat-button (click)="reset()" type="button">Reset</button>
    <div>
      <h6>Don't have an account?</h6>
      <a mat-button [routerLink]="['/register']">
        Resigter
      </a>
    </div>
  </mat-card-actions>
</form>
<div class="spinner" *ngIf="loading">
  <mat-spinner> </mat-spinner>
</div>
